<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Home</h1>
<div>
    <form th:action="@{/search/(search='search')}">
        <input placeholder="Search for a song" type="text" th:name="search" required minlength="2"/>
        <input type="submit" value="search"/>
    </form>
</div>

<div id="container">
    <div id="randomArtists">
        <h2>Artists:</h2>
        <ul th:each="artist: ${artists}">
            <li th:text="${artist}"></li>
        </ul>
    </div>
    <br>
    <div id="randomSongs">
        <h2>Songs:</h2>
        <ul th:each="song: ${songs}">
            <li th:text="${song}"></li>
        </ul>
    </div>
    <div id="randomGenres">
        <h2>Genres:</h2>
        <ul th:each="genre: ${genres}">
            <li th:text="${genre}"></li>
        </ul>
    </div>
</div>
</body>