<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/styles.css}">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Search results</h1>
<h3 th:text="'Results for ' + ${term}"></h3>
<div th:if="${noResults}">
    <h4>No results</h4>
</div>
<ul th:each="song: ${songs}">
    <li th:text="${'Title: ' + song.getSongName() + ' Artist: ' + song.getArtist() + ' Album: ' + song.getAlbum() + ' Genre: ' + song.getGenre()}"></li>
</ul>
</body>